<!DOCTYPE html>
<html>

    <head>
        {% block head %}
        <title>Get your doggy!</title>
        {% endblock %}

        <link rel="stylesheet" href="/styles.css">

    </head>

    <body>
        <header>
            <nav>
                <a id="nav" href="/dogs">Animais</a>
                <a id="nav" href="/owners">Futuros Donos</a>
            </nav>
        </header>
        <div class="wrapped">
            {% block content%} {% endblock %}

        </div>


    {% block footer%} {% endblock%}

    </body>
    <script src="scripts.js"></script>

<!-- target="_blank" -->
</html>