<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <title>Get your doggy!</title>
    {% endblock %}

    <link rel="stylesheet" href="/styles.css">

</head>

<body>
    <header>
        <nav>
            <a href="/dogs">Animais</a>
            <a href="/owners">Futuros Donos</a>
        </nav>
    </header>
    <div class="wrapped">
        {% block content%} {% endblock %}

    </div>


{% block footer%} {% endblock%}

</body>
<!-- target="_blank" -->

</html>